/*
 font-family: 'Playfair Display', serif; 
 font-family: 'Gilroy';
*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy';
    background-color: #0B1D26;
    margin: 0;
    background-image: url("../img/bg.jpg.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}





.nav-wrapper {
    margin-bottom: 198px;
}

.header {
    padding-top: 64px;
    padding-bottom: 843px;
}

.container-wide {
    margin: 0 auto;
    max-width: 1790px;
    padding: 0 15px;
}

.row {
    display: flex;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 32px;
}

.nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav li+li {
    margin-left: 40px;
}

.nav li {
    padding: 0;
}

.nav a {
    color: #fff;
    font-weight: 700;
    transition: all 0.3s;
}

.nav a:hover {
    color: #FBD784;
}

.login {
    padding-left: 30px;
    position: relative;
    font-size: 17px;
    line-height: 21px;
    font-weight: 700;
    transition: all 0.3s;
}

.login::before {
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(img/acc.svg);
    display: block;
    content: '';
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.login:hover {
    color: #FBD784;
}

.hero {
    display: block;
    max-width: 980px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 104px;
    padding-right: 104px;



}

.hero-category {
    position: relative;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 6px;
    text-transform: uppercase;
    padding-left: 104px;
    margin-bottom: 32px;
    color: #FBD784;

}

.hero-category::before {
    position: absolute;
    display: block;
    content: '';
    width: 72px;
    height: 2px;
    background-color: #FBD784;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}


.hero-title {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 88px;
    line-height: 1.136;
    text-transform: capitalize;
    margin-bottom: 32px;

}

.hero-scroll {
    display: inline-block;
    position: relative;
    padding-right: 32px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.222px;


}

.hero-scroll::after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 16px;
    height: 24px;
    background-image: url(img/arrowdown.svg);
}

.link {
    display: block;
    transition: all 0.3s;
    width: 130px;
}

.link:hover {
    color: #FBD784;
    transform: translateY(-20%);
}

/* -------------------------------header-end--------------------------------------------- */




.container {
    max-width: 1492px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.article {
    margin-bottom: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.article:nth-child(even) {
    flex-direction: row-reverse;
}


.article-text {
    position: relative;
    padding-left: 150px;
    max-width: 782px;
    margin-right: 20px;
}

.article-text::before {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-50%);
    display: block;
    content: attr(data-number);
    font-weight: 700;
    font-size: 240px;
    line-height: 240px;
    width: 240px;
    height: 240px;
    color: rgba(255, 255, 255, 0.1);
}

.article-subtitle {
    position: relative;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 6px;
    text-transform: uppercase;
    padding-left: 96px;
    margin-bottom: 32px;
    color: #FBD784;

}

.article-subtitle::before {
    position: absolute;
    display: block;
    content: '';
    width: 72px;
    height: 2px;
    background-color: #FBD784;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.article-title {
    margin-bottom: 27px;
    max-width: 555px;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 64px;
    line-height: 1.2;


}

.article-desc {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.78;


}

.article-link {
    display: inline-block;
    position: relative;
    padding-right: 40px;
    font-size: 18px;
    line-height: 1.222px;
    transition: all 0.3s;
}

.article-link::after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 24px;
    height: 16px;
    background-image: url(img/arrowright.svg);
    background-repeat: no-repeat;

}

.article-link:hover {

    color: #FBD784;
    transform: translateY(-20%);
}


.footer {
    padding-bottom: 120px;
}

.footer-row{
    display: flex;
    justify-content: space-between;

}

.footer-copyright {
    display: flex;
    flex-direction: column;
}

.footer-copyright-logo {
    margin-bottom: 24px;
}


.footer-copyright-desc {
    max-width: 303px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.78;
}

.footer-copyright-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.78;
    color: rgba(255, 255, 255, 0.5);
    margin-top: auto;
}

.footer-nav {
    max-width: 200px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.78;
}

.footer-nav + .footer-nav {
    margin-left: 212px;
}

.footer-nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

}

.footer-nav li {
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
}

.footer-nav li:last-child {
    margin-bottom: 0;
}

.footer-nav-wrapper {
    display: flex;
}

.footer-nav a {
    position: relative;

}



.footer-nav-title {
    margin-bottom: 24px;
    color: #FBD784;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.33;
}

.nav-button{
    position: relative;
    z-index: 9;
    display: none;
    height: 25px;
    border: none;
    padding: 0;
    background:none;
    cursor: pointer;
    
}
.nav-button-icon{
    display: block;
    position: relative;
    background-color: #fff;
    width: 42px;
    height: 5px;
    border: none;
    
}

.nav-button-icon::before{
    position: absolute;
    left: 0;
    top: -10px;
    content: '';
    display: block;
    width: 42px;
    height: 5px;
    background-color: #fff;
}

.nav-button-icon::after{
    position: absolute;
    left: 0;
    bottom: -10px;
    content: '';
    display: block;
    width: 42px;
    height: 5px;
    background-color: #fff;
}

.nav-button-close .nav-button-icon{
    background-color: transparent;

}

.nav-button-close .nav-button-icon::before{
    transform: rotate(45deg);
    top: 0;
}
.nav-button-close .nav-button-icon::after{
    transform: rotate(-45deg);
    top: 0;
}

.mobile-nav{
    top: 0;
    z-index: 9;
    right: 0;
    position: fixed; 
    display: none;
    padding: 70px 70px 50px 30px;
    width: 320px;
    height: 100%;
    background-color: rgba(39, 32, 32, 0.8);
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
}

.mobile-nav .nav,
.mobile-nav .login{
    display: block;
}

.mobile-nav .nav ul{
    flex-direction: column;

}

.mobile-nav .nav ul li{
    margin: 0;
    margin-bottom: 25px;
}

.article-img img{
    display: block;
    max-width: 100%;
}



 /* MEDIA----------------------------------------------------------------------------------------------------------------------------------------- */




 @media (max-width: 1600px){
    .header{
        padding-bottom: 250px;
    }
 }


 @media (max-width: 1200px){


    .hero-title{
        font-size: 68px;
        max-width: 50%;
    }

    .article-text{
        padding-left: 50px;
        margin-right: 0;
    }

    .article-text::before{
        width: 140px;
        height: 140px;
        font-size: 140px;
    }

    .article-img{
        width: 45%;

    }

 }

 @media (max-width: 1100px){
    .footer-nav + .footer-nav{
        margin-left: 100px;
    }
 }

 @media (max-width: 920px){
    .footer-row{
        flex-direction: column;
    }

    .footer-nav-wrapper{
        margin-bottom: 80px;
    }
 }

@media (max-width: 800px){
    .header{
       
        padding-bottom: 200px;
    }
    .nav, .login{
        display: none;
    }

    .nav-button{
        
        display: block;
        
    }

    .mobile-nav-active{
        display: flex;
    }

    .hero-title{
        font-size: 48px;
    }

    .hero-category{
        font-size: 14px;
        padding-left: 62px;
    }

    .hero-category::before{
        width: 42px;
    }

    .nav-wrapper{
        margin-bottom: 90px;
    }

    .article-title{
        font-size: 44px;
    }
}

@media (max-width: 720px){

    .article, .article:nth-child(even){
        flex-direction: column-reverse;
        margin-bottom: 100px;
    }

  
    .article-text{
        max-width: 100%;
    }

    .article-img{
        max-width: 320px;
        width: 100%;
        margin-bottom: 75px;
    }
}

@media (max-width: 560px){
    .footer-nav-wrapper{
        flex-direction: column;
    }

    .footer-nav + .footer-nav{
        margin-left: 0;
        margin-top: 60px;
    }
}